.proj-cards-container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    align-items: left;
}

.proj-card-container {
    width: 900px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.5s ease-out;
}



.proj-card-image {
    width: 300px;
    /* Use 100% width to ensure responsiveness */
    height: 300px;
    margin-top: 0px;
    object-fit: cover;
    /* Maintain aspect ratio while covering the container */
    border-top-left-radius: 25px;
    /* Apply border-radius to the image */
}

.proj-skill-container {
    display: flex;
    flex-direction: row;
justify-content: center;
    margin-top: 25px;
  }

.proj-text-container {
    background-color: rgb(255, 255, 255);
    height: 300px;
    width: 600px;
    border-bottom-right-radius: 25px;
    display: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.proj-text-container h1 {
    margin-top: 10px;
    /* Add some spacing between the image and the title */
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    /* Center the text */
}

.proj-text-container p {
    margin-top: 10px;
    /* Add some spacing between the image and the title */
    font-size: 16px;
    color: rgb(0, 0, 0);
    text-align: left;
    padding-left: 40px;
    padding-right: 40px;
    /* Center the text */
}

.proj-custom-link {
    color: inherit;
    text-decoration: none;
    transition: all 0.5s ease-out;
}

.proj-skill-item {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column; /* Align content vertically */
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    margin-right: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adjusted box-shadow for a subtle effect */
    transition: all 0.5s ease-out;
  }

  .proj-skill-item:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-out;
  } 

  #q-mark-icon{
    border-radius: 10px;
  }

  @media only screen and (max-width: 960px) {


.proj-cards-container{
    width: 100%;
    justify-content: center;
    margin-left: 0px;
}

    .proj-card-container {
        width: 100%;
		flex-direction: column;
		align-items: center;
        justify-content: center;
        padding: 10%;
        padding-bottom: 50%;
        margin-top: 150px;
        margin-right: 10%;
        margin-left: 0px;
	}



    .proj-card-image {
    width: 80%;
    height: 300px;
    }

    .proj-text-container {
    width: 80%;
    height: 620px;    
}

.proj-skill-container{
    padding: 20px;
    margin-bottom: 40px;
}

}

@media only screen and (max-width: 700px) {

    
        .proj-card-container {
            width: 100%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10%;
            padding-bottom: 50%;
            margin-top: 30%;
            margin-bottom: 30%;
            margin-right: 10%;
            margin-left: 0px;
        }
    
    
    
        .proj-card-image {
        width: 100%;
        height: 300px;
        }
    
        .proj-text-container {
        width: 100%;
        height: 620px;    
    }
    
    }


@media only screen and (max-width: 570px) {

        .proj-card-container {
            margin-top: 50%;
        }
    
    }

    @media only screen and (max-width: 460px) {
      
        .proj-card-container {
            margin-top: 70%;
        }
    
    }

    @media only screen and (max-width: 420px) {
      

        #first-card{
            margin-bottom: 20%;
        }

        .proj-skill-item{
            margin: auto;
        }
    
    }

    @media only screen and (max-width: 390px) {
    
        #first-card{
            margin-bottom: 40%;
        }
    
    }

    @media only screen and (max-width: 325px) {
    
        #first-card{
            margin-bottom: 60%;
        }
    
    }