#title {
    text-align: center;
    color: #000;
    font-size: 33px;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.project-cards-container h2 {
    text-align: center;
    color: #000;
}